/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  /* _________________________________________________________________ */

  body {
    height: 100dvh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 3.5fr 1.2fr;
  }


  /* body > div {
    border: 2px solid black;
  } */

  .header {
    padding: 1rem;
    grid-column: 2 / span 2;
    display: grid;
  }

  .top-row {
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .bottom-row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
  }


  .main-content, .right-bar {
    background-color: #E2E8F0;
    padding: 1rem;
  }

  .sidebar {
    grid-row: 1 / 3 ;
    background-color: rgb(80, 80, 201);
    color: white;
    padding: 1rem;
  }

  li {
    margin-bottom: 0.7rem;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
  }

  ul {
    padding: 0;
    margin-bottom: 3rem;
  }

  .right {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    align-items: center;
  }

  input {
    padding: 0.2rem 1rem;
    width: 80%;
    border-radius: 20px;
  }

  .profile {
    display: grid;
    grid-template: 1fr 1fr / 1fr 2fr;
    align-items: center;
    justify-self: start;
    column-gap: 2rem;
    margin-left: 2rem;
  }

  .profile-picture {
    grid-row: span 2;
    justify-self: end;
  }


  .buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    justify-items: center;
  }

  button {
    background-color: rgb(115, 115, 219);
    color: white;
    border-radius: 20px ;
    font-weight: bold;
    min-width: 70%;
    padding: 0.3rem 0.5rem ;
  }


  .sidebar-title {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    margin-bottom: 2.5rem ;
  }


  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 1.8rem;
  }





  .card {
    background-color: white;
    box-shadow: 1px 2px 2px 0px #c7c6c6;
    border-radius: 10px;
    padding: 1.2rem;
    max-height: 350px;
    overflow: auto;
    border-left: 8px solid orange;
    display: grid;
    grid-template: 2fr 1fr / 1fr;
  }

  .text {
    grid-column: span 2;
  }

  .card-icons {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-right: 1.5rem;
  }


  .card-icons:nth-child(2) {
    grid-column: 2 / 3;
  }

  .border {
    border-bottom: 1px solid grey;
  }

  .annonce {
    padding: 0.8rem 0;
  }

  .all-announcements {
    background-color: white;
    box-shadow: 1px 2px 2px 0px #c7c6c6;
    border-radius: 10px;
    padding: 1rem 2rem;
  }

  h3 ~ p, h4 ~ p {
    font-size: 0.9rem;
  }

  .all-trending {
    background-color: white;
    box-shadow: 1px 2px 2px 0px #c7c6c6;
    border-radius: 10px;
    padding: 1.5rem;
  }

  .tweet {
    display: grid;
    grid-template: 1fr 1fr / 1fr 2fr;
    align-items: center;
    margin-bottom: 1rem;
  }

  .tweet:last-child{
    margin: 0;
  }

  .pfp {
    grid-row: span 2;
  }

  .right-bar {
    display: grid;
  }

  .trending {
    align-self: end;
  }

  .text h2 {
    margin-bottom: 0.3rem;
  }

  .main-content > h2 {
    margin-bottom: 0.5rem;
  }

  svg {
    fill: white;
  }










  


