/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  /* _________________________________________________________________ */

  body {
    height: 100dvh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 3.5fr 1.2fr;
  }


  /* body > div {
    border: 2px solid black;
  } */

  .header {
    padding: 1rem;
    grid-column: 2 / span 2;
    display: grid;
    row-gap: 1rem;
    border-bottom: solid 3px rgb(191, 190, 190);
    background-color: #fecaca;
  }

  .top-row {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }

  .bottom-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }


  .main-content, .right-bar {
    background-color: #fef2f2;
    padding: 1.4rem;
  }

  .right-bar {
    padding-left: 0;
  }

  .sidebar {
    grid-row: 1 / 3 ;
    background-color: #7f1d1d;
    color: white;
    padding: 1rem 0;
    user-select: none;
  }

   .sidebar > div {
    /* margin-bottom: 0.7rem; */
    padding: 0.3rem 0;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
  }

  .sidebar  h2 {
    font-size: 1.2rem;
  }

  .sidebar h1 {
    font-size: 1.8rem;
  }

  #title {
    margin-bottom: 4rem;
  }



  .sidebar-title > svg {
    width: 3.5rem;
    justify-self: center;
  }


  .right {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 2vw;
    align-items: center;
    justify-content: center;
  }



  input {
    padding: 0.2rem 1rem;
    width: 80%;
    border-radius: 20px;
    background-color: #fef2f2;
    border: 1px solid grey;
  }

  input:hover {
    background-color: #fee2e2;
  }

  .profile {
    display: grid;
    grid-template: 1fr 1fr / 1fr 2fr;
    align-items: center;
    justify-self: start;
    column-gap: 2rem;
    margin-left: 2rem;
  }

  .profile-picture {
    grid-row: span 2;
    justify-self: end;
    width: 4.5rem;
    height: 4.5rem;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .profile img {
    scale: 1.8;
    position: absolute;
    top: 22%;
    left: 5%;
  }

  .profile h2 {
    align-self: start;
  }
  .profile h4 {
    align-self: end;
  }


  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-self: end;
    margin-right: 3rem;
  }

  button {
    background-color: #7f1d1d;
    color: white;
    border-radius: 20px ;
    font-weight: bold;
    min-width: 70%;
    padding: 0.4rem 0.4rem ;
    font-size: 1.1rem;
    border: none;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 1.8rem;
  }


  .card {
    background-color: #ffffff;
    border: solid 1px rgb(224, 224, 224);
    box-shadow: 1px 2px 2px 0px #c7c6c6;
    border-radius: 10px;
    padding: 1.2rem;
    max-height: 300px;
    overflow: auto;
    border-left: 8px solid #7f1d1d;
    display: grid;
    grid-template: 2fr 1fr / 1fr;
  }

  .card:hover {
    scale: 1.02;
  }

  .text {
    grid-column: span 2;
  }

  .card-icons {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-right: 1.5rem;
    grid-column: 2 / 3;
  }


  .border {
    border-bottom: 1px solid grey;
  }

  .annonce {
    padding: 0.8rem 0;
  }

  .annonce:hover {
    scale: 1.02;
  }

  .all-announcements {
    background-color: white;
    border: solid 1px rgb(224, 224, 224);
    box-shadow: 1px 2px 2px 0px #c7c6c6;
    border-radius: 10px;
    padding: 1rem 2rem;
  }

  h3 ~ p, h4 ~ p {
    font-size: 0.9rem;
  }

  p {
    color: rgb(97, 97, 97);
  }

  .all-trending {
    background-color: white;
    border: solid 1px rgb(224, 224, 224);
    box-shadow: 1px 2px 2px 0px #c7c6c6;
    border-radius: 10px;
    padding: 1.5rem 0;
  }

  .tweet {
    display: grid;
    grid-template: 1fr 1fr / 1fr 2fr;
    align-items: center;
    margin-bottom: 1rem;
  }

  .tweet:hover {
    scale: 1.02;
  }

  .tweet:last-child{
    margin: 0;
  }

  .pfp {
    grid-row: span 2;
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    justify-self: center;
  }

  .tweet img {
    scale: 1.8;
    position: absolute;
    top: 22%;
    left: 5%;
  }


  .tweet p {
    align-self: start;
  }


  .right-bar {
    display: grid;
  }

  .trending {
    align-self: end;
  }

  .text h2 {
    margin-bottom: 0.3rem;
  }

  .main-content > h2, .announcements > h2 {
    margin-bottom: 0.5rem;
  }
 

  #last-item {
    margin-bottom: 5rem;
  }

  svg {
    fill: white;
  }

  .sidebar div:not(#title) svg{
    width: 1.8rem;
    justify-self: center;
  }


  .header svg {
    display: inline-block;
    vertical-align: middle;
    width: 1.8rem;
    fill: black;
    margin-right: 0.8rem;
  }

  .right svg {
    width: 1.5rem;
  }


  .header-pfp {
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .right img {
    scale: 1.8;
    position: absolute;
    top: 22%;
    left: 5%;
  }


  .card svg {
    fill: black;
    width: 1.7rem;
  }

  .sidebar > div:not(:first-child):hover {
    background-color: #bd4f4f;
  }

  .sidebar > div:not(:first-child):active {
    scale: 0.98;
  }

  .card svg:hover {
    fill: red;
  }

  .card svg:active {
    scale: 1.2;
  }

  .right svg:hover {
    fill: red;
  }

  .right svg:active {
    scale: 1.2;
  }

  button:hover {
    background-color: #bd4f4f;
  }

  button:active {
    /* box-shadow: 1px 1px 0px 0px grey; */
    scale: 1.05;
  }

  .header-pfp:hover, .profile-picture:hover {
    scale: 1.07;
  }
















  


